<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments ::page_head(${pageTitle},'none')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation::header_menu"></div>
    <div th:if="${listCategoryParents != null && !listCategoryParents.isEmpty()}">
        <div class="row">
            <div class="col">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>
                        <th:block th:each="parent : ${listCategoryParents}">
                            <li class="breadcrumb-item">
                                <a th:href="@{'/category/'+${parent.alias}}">[[${parent.name}]]</a>
                            </li>
                        </th:block>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row text-center my-2">
        <th:block th:each="cat : ${category.children}">
            <div class="col" th:if="${cat.enabled == true}">
                <a class="text-decoration-none" th:href="@{'/category/'+${cat.alias}}">
                    <img th:src="@{${cat.imagePath}}" height="100"/>
                    <br>
                    <b>[[${cat.name}]]</b>
                </a>
            </div>
        </th:block>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <th:block th:each="product : ${products}">
            <div class="col">
                <div>
                    <img th:src="@{${product.mainImagePath}}" style="width: 150px" class="img-fluid img-thumbnail"
                         alt="">
                    <br>
                    <b>[[${product.name}]]</b>
                </div>
                <div th:if="${product.discountPercent <= 0}">
                    <span>$ [[${product.price}]]</span>
                </div>
                <div th:if="${product.discountPercent > 0}">
                    <span style="font-size: larger; color: darkred" class="mr-2">$ [[${product.discountPrice}]]</span>
                    <del><span>$ [[${product.price}]]</span></del>
                </div>
            </div>
        </th:block>
    </div>
    <div th:replace="fragments :: pagination('/category/'+${category.getAlias()},'product')"></div>
    <div th:replace="navigation::footer_menu"></div>
</div>
</body>
</html>