<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::title},~{::section})">
<head>
    <title>[[${pageTitle}]]</title>
</head>
<body>
<section>
    <div>
        <h2 class="text-primary">Manage Users</h2>
        <a th:href="@{/users/new}">Create New</a>
    </div>
    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Photos</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td>
                    <span class="fas fa-portrait fa-2x icon-silver"></span>
                </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td>
                    <p th:each="role : ${user.getRoles()}" th:text="${role.name}"></p>
                </td>
                <td>
                    <a th:if="${user.isEnabled()}" class="fas fa-check-circle fa-2x icon-green" href=""></a>
                    <a th:unless="${user.isEnabled()}" class="fas fa-check-circle fa-2x icon-dark" href=""></a>
                </td>
                <td>
                    <a class="fa fa-edit fa-2x icon-green" th:href="@{'/users/edit/'+${user.id}}"
                       title="Edit this user"></a>
                    &nbsp;
                    <a class="fa fa-trash fa-2x text-danger" href=""></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>