<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="col-sm-2" th:fragment="content">
    <div>
        <a class="text-decoration-none" th:href="@{'/product/'+${product.alias}}">
            <img th:src="@{${product.mainImagePath}}" style="width: 150px" class="img-fluid img-thumbnail"
                 alt="">
            <br>
            <b>[[${product.shortName}]]</b>
        </a>
    </div>
    <div th:replace="product/product_item_fragment::product_price"></div>
</div>

<div th:fragment="product_price" th:remove="tag">
    <th:block th:if="${product.discountPercent <= 0}">
        <div th:replace="product/product_item_fragment::price_fragment(${product.price})"></div>
    </th:block>
    <th:block th:if="${product.discountPercent > 0}">
        <del>
            <span>
                <div th:replace="product/product_item_fragment::price_fragment(${product.price})"></div>
            </span>
        </del>
        &nbsp;
        <span style="font-size: larger; color: darkred" class="mr-2">
            <div th:replace="product/product_item_fragment::price_fragment(${product.discountPrice})"></div>
        </span>
    </th:block>
</div>

<div th:fragment="price_fragment(price)" th:remove="tag">
    <span>
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before Price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
        [[${#numbers.formatDecimal(price, 1, THOUSANDS_POINT_TYPE,DECIMAL_DIGITS,DECIMAL_POINT_TYPE)}]]
        <span th:if="${CURRENCY_SYMBOL_POSITION == 'After Price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
    </span>
</div>
</body>
</html>