<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Brands - ShopMe Admin','none')"></head>
<body class="container-fluid">
<div th:replace="navigation::menu"></div>
<section>
    <div class="my-2">
        <h2 class="text-primary">Manage Brands</h2>
        <a th:href="@{/brands/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        <a th:href="@{/brands/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="fragments::search_form_and_message"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Logo</th>
                <th th:replace="fragments::column_link('name', 'Brand Name','none')"></th>
                <th class="hideable-column">Categories</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brand: ${brands}">
                <td th:text="${brand.id}"></td>
                <td>
                    <span th:if="${brand.logo == null}" class="fas fa-portrait fa-2x icon-silver"></span>
                    <img th:unless="${brand.logo == null}" class="img-thumbnail img-fluid"
                         th:src="@{${brand.logoPath}}" alt="" style="width: 100px;max-height: 150px">
                </td>
                <td th:text="${brand.name}"></td>
                <td class="hideable-column">
                    <span class="badge badge-secondary mr-1" th:each="category: ${brand.categories}">[[${category.name}]]</span>
                </td>
                <td>
                    <div th:replace="fragments::edit('brand', '/brands/edit/'+${brand.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments::delete('brand',${brand.id},'/brands/delete/'+${brand.id},true)"></div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details my-2">
        <div th:each="brand : ${brands}" class="row m-1">
            <div class="col-4">
                <span th:if="${brand.logo == null}" class="fas fa-portrait fa-2x icon-silver"></span>
                <img th:unless="${brand.logo == null}" class="img-thumbnail img-fluid"
                     th:src="@{${brand.logoPath}}" alt="" style="width: 100px;max-height: 200px">
            </div>
            <div class="col-8">
                <div>[[${brand.name}]]</div>
                <div class="mt-2">&nbsp;&nbsp;
                    <div th:replace="fragments::edit('brand', '/brands/edit/'+${brand.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments::delete('brand',${brand.id},'/brands/delete/'+${brand.id},true)"></div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="fragments::pagination('brands')"></div>


    <div th:replace="modal_fragments::confirm_modal"></div>
    <div th:replace="fragments::footer"></div>
    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript">
        let moduleURL = "[[@{/brands}]]"

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'brand')
            })
        })
    </script>
</section>
</body>
</html>