<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments ::page_head('Reset Password','none')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation::header_menu"></div>
    <div class="mt-2 text-center">
        <h1>Reset Password</h1>
    </div>
    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 20px auto">
        <div class="border border-secondary rounded p-3">
            <div th:if="${error != null}" class="alert alert-danger text-center my-2">
                [[${error}]]
            </div>
            <div th:if="${message != null}" class="alert alert-success text-center my-2">
                [[${message}]]
            </div>
            <input type="hidden" name="token" th:value="${token}">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="password" id="password" class="form-control" required autofocus
                       placeholder="Enter your password" minlength="8" maxlength="15">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" required autofocus
                       placeholder="Confirm Password" oninput="checkPasswordMatch(this)">
            </div>
            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary" value="Change Password">
            </div>
        </div>
    </form>
    <div th:replace=" navigation::footer_menu">
    </div>
</div>
<script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value !== $("#password").val()) {
            confirmPassword.setCustomValidity("Passwords do not match");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>