<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::page_head('Customers - ShopMe Admin','none')"></head>
<body class="container-fluid">
<div th:replace="navigation::menu"></div>
<section>
    <div class="my-2">
        <h2 class="text-primary">Manage Customers</h2>
        <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
            <a th:href="@{/customers/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
        </th:block>

    </div>

    <div th:replace="fragments::search_form_and_message"></div>
    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="fragments::column_link('id', 'ID','none')"></th>
                <th th:replace="fragments::column_link('firstName', 'First Name','none')"></th>
                <th th:replace="fragments::column_link('lastName', 'Last Name','none')"></th>
                <th class="hideable-column">
                <th th:replace="fragments::column_link('email', 'Email','tag')"></th>
                </th>
                <th class="hideable-column">
                <th th:replace="fragments::column_link('city', 'City','tag')"></th>
                </th>
                <th class="hideable-column">
                <th th:replace="fragments::column_link('state', 'State','tags')"></th>
                </th>
                <th th:replace="fragments::column_link('country', 'Country','none')"></th>
                <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
                    <th>Enabled</th>
                </th:block>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td class="hideable-column" th:text="${customer.email}"></td>
                <td class="hideable-column" th:text="${customer.city}"></td>
                <td class="hideable-column" th:text="${customer.state}"></td>
                <td th:text="${customer.country.name}"></td>
                <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
                    <th>
                        <div th:replace="fragments::status(${customer.enabled},'customer','/customers/'+${customer.id})"></div>
                    </th>
                </th:block>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green mr-3 text-decoration-none link-detail"
                       th:href="@{'/customers/detail/'+${customer.id}}"
                       title="View details of this customer"></a>
                    <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
                        <div th:replace="fragments::edit('customer', '/customers/edit/'+${customer.id})"></div>
                    </th:block>
                    &nbsp;&nbsp;
                    <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
                        <div th:replace="fragments::delete('customer',${customer.id},'/customers/delete/'+${customer.id},true)"></div>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="less-details my-2">
        <div th:each="customer: ${customers}" class="row m-1">
            <div class="col-4">
                <h5 th:text="${customer.getFullName()}"></h5>
            </div>
            <div class="col-8">
                <div>
                    <p th:text="${customer.country.name}"></p>
                </div>
                <div th:replace="fragments::status(${customer.enabled},'customer','/customers/'+${customer.id})"></div>
                &nbsp;
                <th:block sec:authorize="hasAnyAuthority('Admin','Salesperson')">
                    <a class="fas fa-file-alt fa-2x icon-green mr-3 text-decoration-none link-detail"
                       th:href="@{'/customers/detail/'+${customer.id}}"
                       title="View details of this customer"></a>
                    &nbsp;
                    <div th:replace="fragments::edit('Customer', '/customers/edit/'+${customer.id})"></div>
                    &nbsp;
                    <div th:replace="fragments::delete('Customer',${customer.id},'/customers/delete/'+${customer.id},true)"></div>
                </th:block>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="fragments::pagination('customers')"></div>


    <div th:replace="modal_fragments::confirm_modal"></div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <div th:replace="fragments::footer"></div>
    <script th:src="@{/js/common_list.js}"></script>
    <script type="text/javascript">
        let moduleURL = "[[@{/customers}]]"

        $(document).ready(function () {
            $(".link-delete").on("click", function (e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'customer')
            })

            $(".link-detail").on("click", function (e) {
                e.preventDefault();
                let linkDetailURL = $(this).attr("href");
                $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
            })

            $("#dropdownCategory").on("change", function () {
                $("#searchForm").submit();
            })
        })
    </script>
</section>
</body>
</html>